@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

* {
    font-family: 'VT323';
    color: green;
    background: black;
    text-align: center;
}

.table-flex-container {
    display: flex;
    justify-content: center;
}

td {
    background-color: lightgray;
    height: 10px;
    width: 10px;
}

.red{
    background-color: red;
}

.blue{
    background-color: blue;
}

.light-blue {
    background-color: rgb(126, 199, 223);
}

.yellow{
    background-color: yellow;
}

.green{
    background-color: green;
}

.purple {
    background-color: purple;
}

.pink {
    background-color: pink;
}

.black {
    background-color: black;
}

.brown {
    background-color: burlywood;
}

.dark-brown {
    background-color: rgb(90, 63, 27);
}

a {
    text-decoration: none;
}